.profile__add-btn {
  width: 150px;
  height: 50px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;

  background-image: url(../../../images/icon-plus.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
}

.profile__add-btn:hover {
  opacity: 0.6;
}
