.profile {
  padding: 36px 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 1000px) {
  .profile {
    /* justify-content: center; */
    flex-direction: column;
    padding: 36px 50px 0;
  }
}
