.elements__trash-btn {
  width: 18px;
  height: 19px;

  border: none;
  background-image: url(../../../images/icon-trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 1;
}
