.popup__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  color: #000000;

  margin: 0 0 54px;
}

@media screen and (max-width: 600px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.22;
  }
}
